<!-- templates/register.html -->
{% extends "base.html" %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4 shadow-sm">
    <div class="container">
      <a class="navbar-brand fw-bold" href="{{ url_for('main.index') }}">ConneCT</a>
</nav>
<div class="container">
    <h2>Escolha seu tipo de cadastro</h2>
    <form method="POST">
        <div class="form-group">
            <button type="submit" name="user_type" value="student" class="btn btn-primary btn-block">
                Sou Estudante
            </button>
            <button type="submit" name="user_type" value="professor" class="btn btn-secondary btn-block">
                Sou Professor
            </button>
        </div>
    </form>
    <p>Já tem uma conta? <a href="{{ url_for('main.login') }}">Faça login</a></p>
</div>
{% endblock %}